<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
	bootstrap="bootstrap.php"
	backupStaticAttributes="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="false"
	syntaxCheck="true"
	>
	<testsuites>
		<testsuite name="phpunit">
			<directory suffix="Test.php">./tests/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory suffix=".php">./src/</directory>
			<exclude>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
